{% extends '../base.html' %}

{% block title %}All movies{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="movie-list">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h1 class="title mb-5">All Movies</h1>
          </div>
          <div class="col-md-6" style="text-align: right;">
              <button class="btn watch-button primary-button" type="" data-bs-toggle="modal" data-bs-target="#exampleModal">Filter</button>
          </div>
  </div>
      </div>
      <div class="row">
        {% for movie in movies %}
          <div class="col-md-3">
              <div class="card">
                  <img src="{{ movie.url_poster }}" alt="{{ movie.name }}" class="card-img">
                  <div class="card-body">
                      <h3 class="card-title"> {{ movie.name }} </h3>
                      <p class="card-text">{{ movie.genre.name }}</p>
                      <a href="{% url 'movie_detail_page' pk=movie.pk %}" class="btn watch-button primary-button">Watch</a>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Filter</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form action="{% url 'movies_by_search_page' %}" class="mt-2 mb-4">
              <div class="row">
                <div class="col-8">
                  <input type="search" name="query" class="form-control" placeholder="Movie name, descrtiption...">
                </div>
                <div class="col-4">
                  <button class="btn btn-outline-warning">Search</button>
                </div>
              </div>
            </form>
          <br>
          <h3 class="fs-5">Catigories</h3>
      <a href="#" class="btn watch-button primary-button">Sci-fi/Action</a>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn watch-button primary-button">Save changes</button>
      </div>
  </div>
  </div>
</div>
{% else %}
<div class="container mt-5 mb-5">
  <div class="card">
    <div class="card-body">
      <div class="alert alert-warning" role="alert">
        If you watch movie, sign up or login into the system
      </div>
      </div>
      <a href="#" class="btn watch-button primary-button">Sign Up</a>
      <a href="#" class="btn btn-outline-warning">Login</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}